.container {
  width: 100%;
  background-color: #151a48;
  color: #fff;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5efe;
}

.banner-navigation {
  width: 100%;
  max-width: 200px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px 0;
  .banner-nav {
    width: 30px;
    height: 8px;
    border-radius: 30px;
    background-color: #242f94;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }

  .banner-active {
    width: 20px;
    height: 20px;
    background-color: #4d5efe;
  }
}
