.message-box {
  width: 100%;
  max-width: 1536px;
  background-color: #151a48;
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
  h1 {
    text-align: start;
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
  }

  p {
    text-align: start;
    width: 100%;
    margin: 0 0 30px;
  }
  form {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1336px;
    .input-group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 250px;
      margin-bottom: 30px;
      .short-input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 48%;
        input {
          color: #fff;
          background-color: transparent;
          border: 2px solid #fff;
          border-radius: 10px;
          padding: 20px;
          font-size: 1.25rem;
        }
      }
      textarea {
        width: 48%;
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 20px;
        height: inherit;
        font-family: inherit;
        font-size: 1.25rem;
      }
    }
    .send-message {
      width: 100%;
      max-width: 200px;
    }
    a {
      margin: auto;
      text-align: center;
      outline: none;
      border: none;
      background-color: #fdb515;
      border-radius: 10px;
      font-size: 1.25rem;
      font-weight: 700;
      width: 100%;
      padding: 20px 0;
      color: #000;
      align-self: flex-end;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .message-box {
    form {
      padding: 0 40px;
    }
  }
}

@media screen and (max-width: 700px) {
  .message-box {
    form {
      padding: 0 20px;
      .input-group {
        input,
        textarea {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .message-box {
    form {
      .input-group {
        flex-direction: column;
        height: 100%;
        margin: 0;
        .short-input {
          width: 100%;
        }
        input,
        textarea {
          width: 100%;
          margin-bottom: 20px;
        }
        textarea {
          height: 200px;
        }
      }
    }
  }
}
