.container {
  width: 100%;
  padding: 50px 50px 100px;
  max-width: 1536px;
  margin: auto;
  background-color: #f5f6f8;
  display: flex;
  color: #151a48;
}

.menu {
  width: 75%;
}

.submenu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 150px;
  padding-right: 40px;
  flex-wrap: wrap;
  .link-list {
    min-width: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }

  .wholesales-dropdown,
  .enterprise-dropdown,
  .support-dropdown {
    transform: translateY(50%);
    min-width: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    z-index: 5;
    transition: all 300ms ease-in-out;
    padding: 10px 0 0;
  }
  .hide {
    transform: translateY(-100%);
    z-index: 0;
    pointer-events: none;
    opacity: 0;
  }

  h3 {
    margin: 0 0 10px;
  }
  a {
    margin: 2px 0;
  }
}

.company-information {
  width: 25%;
  .footer-logo {
    margin-left: -15px;
  }
  .company-description {
    width: 100%;
    max-width: 250px;
    font-size: 0.8rem;
  }

  .social-media-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    margin-right: 20px;
    h4 {
      margin: 0;
    }
    .social-media {
      width: 100%;
      max-width: 125px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.copyrights {
  .image-container {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  p {
    padding-left: 10px;
  }
}

.connect-with-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .customer-care {
    width: 100%;
    max-width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding: 40px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    .menu {
      width: 100%;
      .submenu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 40px 0 50px;
        padding: 0;
        .link-list {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          margin: 5px 0;
          height: 35px;
          position: relative;
          transition: all 300ms ease-in-out;

          .wholesales-dropdown,
          .enterprise-dropdown,
          .support-dropdown {
            position: absolute;
            top: -200px;
            left: 50%;
            transform: translateX(-50%);
            & > * {
              width: 100%;
              text-align: center;
            }
          }
          &.dropdown {
            // display: none;
            justify-content: flex-start;
            height: 170px;
            .wholesales-dropdown,
            .enterprise-dropdown,
            .support-dropdown {
              top: 30px;
            }
          }
          h3 {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .copyrights {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .company-information {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      align-items: center;
      width: 100%;
      max-width: 500px;
      min-height: 100px;
      & > * {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
      }
      .social-media {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 175px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 10px 150px;
  }
}
