.container {
  width: 100%;
  padding: 50px 100px 100px;
  max-width: 1536px;
  margin: auto;
  background-color: #f5f6f8;
  display: flex;
  color: #151a48;
}

.menu {
  width: 70%;
}

.submenu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
  .link-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }
  h3 {
    margin: 0 0 10px;
  }
  a {
    margin: 2px 0;
  }
}

.company-information {
  .footer-logo {
    margin-left: -15px;
  }
  .company-description {
    width: 100%;
    max-width: 250px;
    font-size: 0.8rem;
  }

  .social-media-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    margin-right: 20px;
    h4 {
      margin: 0;
    }
    .social-media {
      width: 100%;
      max-width: 125px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.copyrights {
  .image-container {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  p {
    padding-left: 10px;
  }
}

.connect-with-us {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .customer-care {
    width: 100%;
    max-width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding: 40px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    .menu {
      width: 100%;
      .submenu {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 0 50px;
        .link-list {
          margin: 20px;
        }
      }
    }
    .copyrights {
      text-align: center;
    }
    .company-information {
      align-items: center;
      & > * {
        text-align: center;
      }
      .social-media {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 175px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 10px 150px;
  }
}
