.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
  background-color: #151a48;
  max-width: 1536px;
  color: #fff;
}
.article-container {
  padding: 30px 0;
}
.article-image-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    width: 100% !important;
  }
  img {
    width: 100% !important;
    height: auto !important;
  }
}
