.satisfied-customer {
  width: 100%;
  max-width: 1536px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #151a48;
  color: #fff;
  padding: 0 100px 150px;

  & > * {
    width: 50%;
  }

  .title {
    padding-left: 150px;
    font-size: 2rem;
    color: #ec4176;
    h1 {
      margin: 0 0 10px;
      &:nth-child(1) {
        color: #fff;
      }
    }
  }

  .testimony {
    .text {
      margin: 0 0 40px;
      line-height: 2;
      font-size: 1.25rem;
    }
    .rating {
      width: 100%;
      max-width: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    .customer-data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .avatar {
        width: 15%;
        min-width: 100px;
        img {
          border: 1px solid #ec4176 !important;
          border-radius: 50%;
        }
      }
      .name-job {
        width: 70%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h2 {
          margin: 0;
          font-size: 1.75rem;
          &:nth-child(2) {
            font-weight: 400;
          }
        }
      }
      .testimony-nav {
        width: 15%;
        min-width: 75px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .satisfied-customer {
    .title {
      padding: 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .satisfied-customer {
    padding: 0 40px 100px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .title {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
    .testimony {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .satisfied-customer {
    padding: 0 20px 75px;
  }
}
@media screen and (max-width: 450px) {
  .satisfied-customer {
    padding: 0 20px 75px;
    .title {
      h1 {
        font-size: 1.75rem;
      }
    }
    .testimony {
      .customer-data {
        flex-direction: column;
        align-items: center;
        .name-job {
          width: 100%;
          h2 {
            width: 100%;
            text-align: center;
          }
        }
      }
      .text {
        font-size: 1rem;
        line-height: 1.5;
      }
      .rating {
        max-width: none;
        margin: 0 auto 30px;
      }
    }
  }
}
