.container {
  width: 100%;
  background-color: #151a48;
  color: #fff;
  padding-bottom: 150px;
}

.company-profile {
  width: 100%;
  max-width: 1536px;
  padding: 0 100px 100px 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  .vision-mission {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px 0 25px 50px;
    border-left: 5px solid #ec4176;
    width: 100%;
    max-width: 900px;
    h1 {
      margin: 0 0 20px;
      font-weight: 400;
      font-size: 2rem;
    }
    p {
      margin: 0;
      font-size: 1.25rem;
    }
  }
}

.about-company-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  .blank-space {
    width: 60%;
    min-height: 400px;
    background-color: #ededed;
    border-radius: 0 30px 30px 0;
  }
  .about-company {
    width: 40%;
    margin-left: 50px;
    padding-right: 20px;
    p {
      max-width: 450px;
      font-size: 1.25rem;
    }
  }
}

.company-features {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .company-values {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .align-left-div {
      width: 100%;
      max-width: 700px;
      height: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-right: 150px;

      .feature-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .feature-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 40px 20px;
          border-radius: 10px;
          transition: all 0.2s ease-in-out;
          &:hover {
            cursor: pointer;
            background-color: #ec4176;
            h1 {
              text-shadow: 0 0 15px #fff;
            }
          }
        }
      }
    }
  }

  .blank-space {
    width: 40%;
    min-height: 700px;
    background-color: #ededed;
    border-radius: 30px 0 0 30px;
  }
}
