.container {
  width: 100%;
  background-color: #151a48;
  color: #fff;
  padding-bottom: 50px;
}

.multi-carousel-container {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto 40px;
  padding: 0 100px;
}

.single-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  & > * {
    height: 100px;
    &:nth-child(1),
    &:nth-child(3) {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #d3d3d3;
      color: #d3d3d3;
    }
    &:nth-child(2) {
      width: 100%;
      max-width: 800px;
    }
  }
  .carousel-item {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar {
      width: 15%;
      height: 100px;
      border-radius: 10px 0 0 10px;
    }
    .text-container {
      width: 85%;
      background-color: #fff;
      color: #000;
      height: 100px;
      border-radius: 0 10px 10px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 30px;
      p {
        margin: 0;
        &:nth-child(1) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.vacancy-container {
  width: 100%;
  max-width: 1536px;
  padding: 0 100px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;

  .search-input {
    display: flex;
    width: 100%;
    max-width: 500px;
    position: relative;
    input {
      width: 100%;
      padding: 15px;
      font-size: 1.25rem;
      outline: none;
      border-radius: 10px;
    }
    .image-container {
      position: absolute;
      z-index: 5;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .send-cv {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
    background-color: #ffdbe2;
    color: #ec4176;
    strong {
      text-decoration: underline;
    }
  }

  .job-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .job-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    color: #151a48;
    border-radius: 10px;
    margin-bottom: 20px;
    h2 {
      margin: 0;
      width: 100%;
      max-width: 150px;
    }
    p {
      margin: 0;
      padding: 20px 30px;
      border-left: 1px solid #151a483a;
    }
  }
}

@media screen and (max-width: 699px) {
  .container {
    .multi-carousel-container {
      padding: 0 40px;
    }

    .single-carousel {
      .single-carousel-container {
        padding: 0 10px;
        & > * {
          height: 150px;
          margin: 0 10px;
        }

        & > *:first-child,
        & > *:last-child {
          height: 25px;
          margin: 0;
        }
        .carousel-item {
          .text-container {
            padding: 0 10px;
            width: 75%;
            height: 150px;
            font-size: 0.9rem;
          }

          img {
            width: 25%;
            height: 150px !important;
          }
        }
      }
    }
  }
}
