html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slide-in-left-enter {
  transform: translateX(100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 400ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 400ms;
}

.slide-in-top-enter {
  transform: translateX(-50%) translateY(-250%) !important;
}

.slide-in-top-enter-active {
  transform: translateX(-50%) translateY(-50%) !important;
  opacity: 1;
  transition: all 400ms;
}

.slide-in-top-exit {
  transform: translateX(-50%) translateY(-50%) !important;
  opacity: 1;
}

.slide-in-top-exit-active {
  transform: translateX(-50%) translateY(-250%) !important;
  opacity: 0.5;
  transition: all 400ms;
}
